.wd-body-offset {
    padding-left: 16px;
    border-color: rgb( 47, 51, 54 );
    font-family: 'Chirp', sans-serif;
}
.wd-rounded-corners-all-around {
    border-radius: 50px;
}
.wd-bg-color-black {
    background-color: black;
}
.wd-bg-color-darkgray {
    background-color: darkgray;
}
.wd-fg-color-white {
    color: white;
}
.wd-input-icons i {
    position: absolute;
}
.wd-input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.wd-icon {
    padding: 10px;
    min-width: 40px;
    border: 100px;
}
.wd-input-field {
    width: 95%;
    text-align: left;
    margin-bottom: 3px;
    padding: 10px 10px 10px 30px;
}
.wd-highlighted {
    color: rgb( 29, 161, 242 );
    border-color: rgb( 29, 161, 242 );
    border-bottom: solid;
}
.wd-non-highlighted {
    color: rgb( 110, 118, 125 );
}
.wd-link-fonts {
    size: 15px;
    padding: 16px;
    text-decoration: none;
}
.wd-explore-tabs {
    width: 95%;
    padding-bottom: 30px;
}
.wd-suggested-posts {
    color: rgb( 110, 118, 125 );
    size: 13px;
}
.wd-no-decoration {
    color: rgb( 110, 118, 125 );
    text-decoration: none;
}
.wd-suggested-icon {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.wd-suggested-img {
    width: 100px;
    height: 100px;
    margin-right: 16px;
    float: right;
    border-radius: 10px;
}